body {
    box-sizing: border-box;
    background-color: #188038;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("pexels-pixabay-122429.jpg");
}

section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 600px;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 5px;
    text-align: center;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #105a26;
    padding-bottom: 10px;
}

button {
    background-color: #188038;
    border-radius: 5px;
    color: #97ffb6;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
    border-color: white;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em white;
    transform: translateY(-0.25em);
    cursor: pointer;
}